@use '../abstracts/abstracts' as abs;

.ratings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	margin-bottom: 50px;
	@media screen and (min-width: 1050px) {
		// all: revert;
		display: grid;
		grid-template-columns: repeat(11, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap:20px;
		padding: 15px 0;
		margin-bottom: 0px;
		max-height: 225px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 15px 0;
		align-items: center;
		background-color: abs.$light-grayish-magenta;
		border-radius: 10px;

		@media screen and(min-width: 1050px) {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 30px;
			padding: 16px 0;
			padding-left: 30px;
			align-items: center;
			background-color: abs.$light-grayish-magenta;
			border-radius: 10px;

			// div{
			// 	// display: flex;
			// }

			img{
				// margin: auto 0;
			margin-right: 3px;
			}

			&:first-child {
				grid-row: 1/2;
				grid-column: 1/ span 9;
			}
			&:nth-child(2) {
				grid-row: 2/3;
				grid-column: 2/ span 9;
			}
			&:last-child {
				grid-row: 3/4;
				grid-column: 3 / span 9;
			}
		}

		p {
			font-size: 13px;
			color: abs.$very-dark-magenta;
			font-weight: 700;
		}
	}
}
